services:
  backend:
    image: ${BACKEND_IMAGE}
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      OTEL_EXPORTER_OTLP_ENDPOINT: http://lgtm:4318
      OTEL_TRACES_EXPORTER: otlp
      OTEL_METRICS_EXPORTER: otlp
      OTEL_LOGS_EXPORTER: otlp
      OTEL_SERVICE_NAME: backend_service
    networks:
      - default
      - observability
    restart: unless-stopped

  frontend:
    image: ${FRONTEND_IMAGE}
    ports:
      - "80:80"
    env_file:
      - .env
    networks:
      - observability
    restart: always
  db:
    image: postgres:15-alpine
    networks:
      - observability
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: teamboard
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
volumes:
  db-data:
networks:
  observability:
    external: true